.repos__loader {
    margin-bottom: 26px;
}
.repos__loader-item {
    height: 88px;
    padding: 24px 32px;
    border-radius: 10px;
    margin: 0px 0px 12px 0px;
    background-image: linear-gradient(
        90deg,
        #22252c 0%,
        #22252c 40%,
        #83868d 50%,
        #83868d 55%,
        #22252c 70%,
        #22252c 100%
    );
    background-size: 300%;
    animation: shimmer 1700ms infinite .3s;
}
.repos__loader-item:not(:last-child) {
    margin-bottom: 12px;
}
.repos__loader-item:last-child {
    margin-bottom: 0;
}
.loader-item__title {
    height: 28px;
    width: 220px;
    margin: 0px 0px 6px 0px;
    background: #f8f8f8;
}
.loader-item__text {
    height: 20px;
    background: #f8f8f8;
}
@keyframes shimmer {
    from {
        background-position: 100%, 100%;
    }
    to {
        background-position: 0, 0;
    }
}
@media (max-width: 992px) {
    .repos__loader {
        height: auto;
    }
    .repos__loader-item:last-child {
        margin-bottom: 0;
    }
}
@media (max-width: 500px) {
    .loader-item__title {
        margin: 0px 0px 10px 0px;
    }
    .repos__loader-item {
        padding: 17px;
        height: 92px;
    }
}
@media (max-width: 992px) {
    .repos__loader {
        margin-bottom: 15px;
    }
}
