.repos__item {
    padding: 16px 24px 18px;
    background: rgba(245, 248, 255, 0.06);
    border-radius: 10px;
    position: relative;
    display: block;
    transition: all 0.2s ease;
}
.repos__item:hover {
    background: #2b2f38;
    transition: all 0.3s ease;
}
.repos__name {
    padding-right: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #4099ff;
    margin-bottom: 6px;
    white-space: nowrap;
    max-height: 28px;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    letter-spacing: -0.02em;
    background: url("../../assets/images/Content/link.svg") right center no-repeat;
    white-space: break-spaces;
    overflow: hidden;
    word-break: break-word;
}
.repos__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    max-height: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 813px;
    color: rgba(245, 248, 255, 0.5);
}

@media (max-width: 992px) {
    .repos__name-link {
        display: inline;
        max-width: none;
        width: 100%;
        white-space: nowrap;
    }
    .repos__description {
        overflow: hidden;
        word-break: break-word;
        text-overflow: ellipsis;
    }
}
@media (max-width: 500px) {
    .repos__name {
        margin-bottom: 10px;
    }
}
