.user__data {
    align-self: flex-start;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    color: #e1e4eb;
}
.user__info {
    position: sticky;
}
.user__avatar {
    width: 242px;
    height: 242px;
    margin-bottom: 16px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.05);
    display: inline-block;
}
.user__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user__name {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 4px;
    max-width: 293px;
    word-break: break-word;
    color: #e1e4eb;
    letter-spacing: -0.03em;
}
.user__link {
    display: inline-block;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #8b8f96;
    margin-bottom: 16px;
    max-width: 293px;
    word-break: break-word;
    position: relative;
    align-self: flex-start;
    letter-spacing: -0.01em;
    transition: all .2s ease;
}
.user__link:hover {
    color: #4099ff;
    transition: all .3s ease;
}
.user__media {
    display: flex;
    column-gap: 16px;
    margin-bottom: 20px;
}
.user__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 8px 10px 6px;
    gap: 8px;
    width: 100%;
    width: 100%;
    height: 40px;
    background: rgba(245, 248, 255, 0.06);
    border-radius: 10px;
    letter-spacing: -0.01em;
    color: #8b8f96;
    transition: all .3s ease 0s;
}
.user__button svg {
    fill: none;
    width: 20px;
    height: 20px;
}
.user__button svg path {
    fill: #8B8F96;
    transition: all .2s ease 0s;
}
.user__button:hover {
    transition: all .3s ease 0s;
    color: #e1e4eb;
    background: #2b2f38;
}
.user__button:hover svg path {
    fill: #e1e4eb;
    transition: all .3s ease 0s;
}
.user__button span {
    line-height: 20px;
}
.user__button:hover > span {
    transition: all .0s ease 0s;
}

@media (max-width: 992px) {
    .user__data {
        flex-basis: auto;
        margin-bottom: 40px;
        align-items: center;
        align-self: stretch;
    }
    .user__avatar {
        width: 250px;
        height: 250px;
        margin: 0px 0px 12px 0px;
    }
    .user__name {
        margin-bottom: 4px;
    }
    .user__link {
        margin-bottom: 10px;
        align-self: auto;
    }
}
@media (max-width: 480px) {
    .user__data {
        align-items: flex-start;
        margin-bottom: 0;
        padding-bottom: 24px;
        border-bottom: 1px solid #22252C;;
    }
    .user__info {
        width: 100%;
    }
    .user__avatar {
        width: 120px;
        height: 120px;
        margin-bottom: 12px;
    }
    .user__media {
        row-gap: 8px;
    }
    .user__button {
        max-width: none;
    }
}